<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex items-center justify-center">
  <div class="bg-indigo-600 rounded-md p-10 text-white">
     <span class="block text-3xl font-bold tracking-tight sm:text-3xl pb-10 text-center">404</span>
     <div>
       UUUUPS! - We can't find the page you are looking for!
     </div>
     <div class="flex justify-center">
      <a [routerLink]="['/home']" class="shadow inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-black bg-white hover:bg-gray-200 mt-10">
        Go to Home
      </a>
     </div>
  </div>
</div>
