<div>
  <img src={{imageFile}} alt="" style="width: 200px; height: 200px;">
  <button (click)="change()" >Change Images</button>
  <hr>
  <br>
  <div>
    <h1>Start a Game</h1>
    <form (ngSubmit)="createRoom()">
      <label for="host-name">Enter your name: </label>
      <input type="text" id="host-name" [(ngModel)]= "hostName" name="host-name">
      <button type="submit">Create new Room</button>
    </form>
  </div>
<hr>
  <div>
    <h1>Join a Game</h1>
    <form (ngSubmit)="joinRoom()">
      <label for="client-name">Enter your name: </label>
      <input type="text" id="client-name" [(ngModel)]= "clientName" name="client-name">
      <label for="room-id">Enter the Room ID: </label>
      <input type="text" id="room-id" [(ngModel)]= "pastedRoomID" name="room-id">
      <button type="submit">Join the room</button>
    </form>
  </div>

<hr>

<div>
  <h1>Lobby</h1>
  <div *ngFor="let player of (players$ | async); trackBy: trackById">{{ player.name }}</div>
  <div *ngFor="let player of (players$ | async); trackBy: trackById">
     <img src={{player.image}} alt="" style="width: 40px; height: 40px;">
  </div>
</div>
</div>

