<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex items-center justify-center">
  <div class="bg-indigo-600 rounded-md p-10 text-white">
     <span class="block text-3xl font-bold tracking-tight sm:text-3xl pb-10 text-center">Describe this image!</span>
     <img [src]="lastDrawing" alt="" style="width: 753; height: 378;">
     <div class="flex justify-center items-end">
        <div class="flex flex-col items-start">
           <label for="pasted-room-id" class="block font-bold">Your description:</label>
           <input
           [(ngModel)]= "describeDrawingText"
           name="pasted-room-id"
           id="pasted-room-id"
           type="text"
           class="shadow appearance-none border rounded w-100 px-5 py-3 text-black"
           (keyup)="saveStoryText()"
           />
        </div>
        <div>
           <button type="button" (click)="finished()" [disabled]="!describeDrawingTextIsFilled()" [ngClass]="{'opacity-50 cursor-not-allowed': !describeDrawingTextIsFilled()}" class="shadow inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-black bg-white hover:bg-gray-200 ml-1">Done!</button>
        </div>
     </div>
     <app-timer [timerDuration]="20"></app-timer>
  </div>
</div>
