<div class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center px-4">
      <h1 class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        The Telephone Game
      </h1>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        You will have so much fun playing this game with your friends!
      </p>
    </div>

<div>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-start lg:justify-between">
    <div class="bg-indigo-600 rounded-md p-10 text-white">
      <span class="block text-3xl font-bold tracking-tight sm:text-3xl pb-5 text-center">1. Choose an avatar and a nickname!</span>
      <div class="pt-5 flex flex-col items-center">
        <div class="relative">
          <img src={{imageFile}} alt="" class="w-40 h-40 rounded-md">
          <button (click)="change()" class="h-14 w-14 flex items-center justify-center absolute -right-5 -bottom-5 border-2 border-black bg-white text-white font-bold py-2 px-4 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6.974 22.957c-10.957-11.421 2.326-20.865 10.384-13.309l-2.464 2.352h9.106v-8.947l-2.232 2.229c-14.794-13.203-31.51 7.051-14.794 17.675z"/></svg>
          </button>
        </div>
      </div>
      <div class="pt-5 flex flex-col items-center mt-3">
        <div>
          <label for="user-name" class="block font-bold ">Your nickname:</label>
          <input type="text" id="user-name" [(ngModel)]= "userName" name="user-name" class="px-5 py-3 shadow appearance-none border rounded w-100 text-black">

        </div>
        </div>
    </div>



    <div class="bg-indigo-600 rounded-md p-10 text-white flex flex-col items-center lg:ml-14 lg:mt-0 sm:ml-0 sm:mt-14 mt-14">
      <span class="block text-3xl font-bold tracking-tight sm:text-3xl pb-5 text-center">2. Create a new room OR join an existing Room!</span>


        <button type="button" (click)="createRoom()" [disabled]="!userNameFilled()" [ngClass]="{'opacity-50 cursor-not-allowed': !userNameFilled()}" class="shadow inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-black bg-white hover:bg-gray-200 mb-5">Create new Room</button>


      <div class="pt-10">
        <label for="pasted-room-id" class="block font-bold">Room ID:</label>
        <input
        [(ngModel)]= "pastedRoomID"
        name="pasted-room-id"
        id="pasted-room-id"
        type="text"
        name="name"
        class="shadow appearance-none border rounded w-100 px-5 py-3 text-black"
        />
        <button type="button" (click)="joinRoom()" [disabled]="!pastedRoomIdFilled()" [ngClass]="{'opacity-50 cursor-not-allowed': !pastedRoomIdFilled()}" class="shadow inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-black bg-white hover:bg-gray-200 ml-1">Join this room</button>
      </div>


    </div>


  </div>
</div>

  </div>
</div>

